﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Welcome to our pre registration page. Please Register here.</p>
        @Html.ActionLink("Register", "Registration");
        
        
    </div>
</body>
</html>
