﻿@model PreRegistrationProject.Models.RegistrationInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p> your Full Name: @Html.TextBoxFor(x => x.FullName)</p>
            <p> your Email: @Html.TextBoxFor(x => x.Email)</p>
            <p> your phone number: @Html.TextBoxFor(x => x.PhoneNumber)</p>
            <p> send notification? 
                @Html.DropDownListFor(x => x.SendNotification, new[]{
               new SelectListItem(){Text="Yes, Please",Value=bool.TrueString},
               new SelectListItem(){Text="No, Thank you",Value=bool.FalseString}

           },"Choose an option")


        </p>
        <input type="submit" value="Register" />
        }
    </div>
</body>
</html>
