﻿@model BuiltInHelperMethods.Models.Person
@{
    ViewBag.Title = "Create Person";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<h2>Create Person</h2>
<form action="/Home/CreatePerson" method="post">
    <div class="dataElem">
        <label>PersonId</label>
        <input type="text" name="PersonId" value="@Model.PersonId" />
    </div>
    <div class="dataElem">
        <label>FirstName</label>
        <input name="FirstName" type="text" value="@Model.FirstName" />
    </div>
    <div class="dataElem">
        <label>LastName</label>
        <input type="text" name="LastName" value="@Model.LastName" />
    </div>
    <input type="submit" value="Submit" />
</form>

