﻿@model BuiltInHelperMethods.Models.Person
@{
    ViewBag.Title = "CreatePersonWithHelperMethods";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>CreatePerson With Helper Methods</h2>

@*@{Html.BeginForm();}*@
@*@using(Html.BeginForm())*@
@using (Html.BeginForm("CreatePersonWithHelperMethods", "Home", new { id = "MyIdValue" }, FormMethod.Post, new { @class = "personClass" }))
{
    <div class="dataElem">
        @*<label>PersonId</label>*@
        @Html.LabelFor(m=>m.PersonId)
        @*<input name="PersonId" value="@Model.PersonId" />*@
        @*@Html.TextBox("PersonId", Model.PersonId)*@
        @*@Html.TextBox("PersonId")*@
        @Html.TextBoxFor(m => m.PersonId)
        @*@Html.EditorFor(m=>m.FirstName)*@
    </div>
    <div class="dataElem">
        <label>FirstName</label>
        @*<input name="FirstName" value="@Model.FristName" />*@
        @*@Html.TextBox("FirstName", Model.FirstName)*@
        @*@Html.TextBox("PersonId")*@
        @Html.TextBoxFor(m => m.FirstName)
        @*@Html.EditorFor(m=>m.FirstName)*@
        @*@Html.DisplayFor(m=>m.FirstName)*@
    </div>
    <div class="dataElem">
        <label>LastName</label>
        @*<input name="LastName" value="@Model.LastName" />*@
        @*@Html.TextBox("LastName", Model.LastName)*@
        @*@Html.TextBox("LastName")*@
        @*@Html.TextBoxFor(m=>m.LastName)*@
        @Html.EditorFor(m => m.LastName)
    </div>
    <div class="dataElem">
        <label>Role</label>
        @Html.DropDownListFor(m => m.Role,
                    new SelectList(Enum.GetNames(typeof(BuiltInHelperMethods.Models.Role))))
    </div>
    @*<div class="dataElem">
            <label>Role</label>
            @Html.EditorFor(m=>m.Role)
        </div>*@
    <div>
        @Html.EditorFor(m => m.HomeAddress)
    </div>
    <input type="submit" value="Submit" />
}
@*@{Html.EndForm();}*@





