﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        label {
            display: inline-block;
            width: 100px;
            font-weight: bold;
            margin: 5px;
        }

        form label {
            float: left;
        }

        input.text-box {
            float: left;
            margin: 5px;
        }

        button[type=submit] {
            margin-top: 5px;
            float: left;
            clear: left;
        }

        form div {
            clear: both;
        }

        .field-validation-error {
            color: #f00;
        }

        .validation-summary-errors {
            color: #f00;
            font-weight: bold;
        }

        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }

        input[type="checkbox"].input-validation-error {
            outline: 2px solid #f00;
        }
        body{
            direction:ltr;
        }
    </style>
 
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
