﻿<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {


            //$("button").click(function () {
            //    $("#div1").load("/Home/Hello");
            //});

            //$("button").click(function () {
            //    $.get("/Home/Hello", function (data, status) {
            //        alert("Data: " + data + "\nStatus: " + status);
            //    });
            //});


            //$("button").click(function () {
            //    $.post("/Home/PostMethodForAjax",
            //    {
            //        name: "Donald Duck",
            //        city: "Duckburg"
            //    },
            //    function (data, status) {
            //        alert("Data: " + data + "\nStatus: " + status);
            //        $("#div1").html(data);
            //    });


            //});

            $('button').click(function (e) {

                var jsonObject = {
                    "Name": "Rami",
                    "Roles": [{ "RoleName": "Admin", "Description": "Admin Role" }, { "RoleName": "User", "Description": "User Role" }]
                };

                $.ajax({
                    url: "@Url.Action("AddUser")",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (response) {
                        alert(response.responseText);
                    },
                    success: function (response) {
                        alert(response);
                    }
                });

            });
        });




    </script>
    <title>Ajax</title>
</head>

<body>

    <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

    <button>Get External Content</button>

</body>
</html>
