﻿@*The IEnumerable is used when we have a list of objects.*@
@model IEnumerable<string>
@{
    Layout = null;
}
@*Any view you create, in run time, will be converted to a c# class
    the classes can be found in (not clearly)
    c:\users\<login name>\Appdate\local\Temp\temporary ASP.NET Files *@

@*How ASP finds the approrpiate view?
1. it looks for a folder with the same name as controller's name. in home it looks for an action with the same name as the current action method
    e.g. it looks for Index.cshtl, then Index.vbhtml, then in Shared folder
2. if you plan to change the above convention, you need to create a sub class of Razor view engine. see the CustomLocationViewEngin.cs in Infrastructure foolder
    Don't forget to update the Global.asax*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        The List of Fruits is:
           @foreach(string name in Model)
           {
               <span><b>@name</b></span>
           }
    </div>
</body>
</html>
