﻿@model string[]
@{
    ViewBag.Title = "MyAction";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>MyAction</h2>

@section Header{
    <div class="view">
        @foreach (string str in new[] { "Home", "List", "Edit" })
        {
            @Html.ActionLink(str, str, null, new { style = "margin:5px" })
        }
    </div>
}

    <div>
        The List of Fruits is:
        @foreach (string name in Model)
        {
            <span><b>@name</b></span>
        }
    </div>
    @Html.Partial("myPartialView")


    @section Footer{
        <div class="view">
            This is the footer
        </div>
    }

