﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyAction2</title>
</head>
<body>
    <div>
        @Html.Partial("myPartialView")
        @Html.Partial("StronglyTypePartialView", new[] { "Apple", "Orange", "Pear" })

        @Html.Action("Time")
    </div>
</body>
</html>
