﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello from Index action of Admin Controller
    </div>
    @Html.ActionLink("Sign out","SignOut","Account")
</body>
</html>
