﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        hello
    </div>
    @Html.ActionLink("Click me","About")
    @Html.ActionLink("Click me", "Index", new { area="Customer"})
    @Html.ActionLink("Click me", "Index", new { area =""})
</body>
</html>
