﻿@model DateTime
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StronglyTypedView</title>
</head>
<body>
    <div> 
        The day is: @Model.DayOfWeek
    </div>
</body>
</html>
