﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UntypedView</title>
</head>
<body>
    <div> 
        The day is: @(((DateTime)Model).DayOfWeek)       
    </div>
</body>
</html>
