﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Links</title>
</head>
<body>
    <div>
        @*To create Links:*@

        @*Simplest method - hard coded urls - if routing ststem is changed, all urls should be updtade*@
        @*<a href="/Home/Index">Go Home</a>*@

        @Html.ActionLink("Go Home", "Index", "Admin")        
        @Html.ActionLink("Link With Parameter", "CustomeVariableWithParameter", "Home", 
                                                new { id = "Hello" }, new {id="myAnchorId", @class="myClass" })
        @*@Url.Action("Index","Customer")*@
    </div>
</body>
</html>
