﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to My Site</title>
</head>
<body>
    <div> 
        <p>
            Welcome To the ASP.NET MVC Tutorial Pre Registeration Page, If you want This Product Please Register.
        </p>
        @Html.ActionLink("Register","Registeration")
    </div>
</body>
</html>
