﻿@model PreRegisterationProject.Models.RegisterationInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
        <h1>Thank you @Model.FullName</h1>
        @if(Model.SendNotification==true)
        {
            @: We will send you Email Notifications.
        }
        else
        {
            @: We don't send Email Notification For You.
        }
    </div>
</body>
</html>
