﻿
@using CustomeHelperMethods.Infrustructure
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*We can define our helper methods. It is not a Must, since there are enough helper in mvc. However here is an example
        1. inline: which will be accessible only in the current view
        2. External. see CustomeHelperMethod.cs
        the following line in inline definition of a helper method:*@

    @helper ListArrayItems(string[] items)
    {
        <ul>
            @foreach (string str in items)
            {
                <li>@str</li>
            }
        </ul>
    }


    <div>
        Here is the fruits:
        <br />
        @foreach (string str in (string[])ViewBag.Fruits)
        {
            <b>@str</b>
            <br />
        }
    </div>

    <div>
        Here is the Cities:
        <br />

        @foreach (string str in (string[])ViewBag.Cities)
        {
            <b>@str</b>
            <br />

        }
    </div>

    
    @*inline helper for Fruits*@
    <div>
        Here is the fruits:
        <br />
        @ListArrayItems((string[])ViewBag.Fruits)
    </div>

    @*inline helper for Citites*@
    <div>
        Here is the Cities: (using Inline helper)
        <br />
        @ListArrayItems((string[])ViewBag.Cities)
    </div>

    <div>
        Here is the Cities: (using External helper)
        <br />
        @Html.ListArrayItems((string[])ViewBag.Cities)
    </div>
</body>
</html>
